flows.json
[{"id":"856d360f.8ae9c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b4b78095.106a1","type":"function","z":"856d360f.8ae9c8","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"ecVDju9o4PlSbiLQdu7et18QBHVgdw_x_XOPTd5CMDo2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["8dd7ceed.a5176"]]},{"id":"8dd7ceed.a5176","type":"http request","z":"856d360f.8ae9c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":368.9999952316284,"wires":[["fcec2f00.a839"]]},{"id":"ea2fc957.ec9f88","type":"debug","z":"856d360f.8ae9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"fcec2f00.a839","type":"function","z":"856d360f.8ae9c8","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"c69fd457-dd98-49ee-807f-e178e05d4415\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\", \"ane\"], \"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":331.9999990463257,"wires":[["cecf5fb0.4a961"]]},{"id":"cecf5fb0.4a961","type":"http request","z":"856d360f.8ae9c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/312f0416-3638-408b-b0dd-0109f282e787/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":275.9999990463257,"wires":[["fe13623.1056ca","ea2fc957.ec9f88"]]},{"id":"444106ed.809de8","type":"ui_form","z":"856d360f.8ae9c8","name":"","label":"","group":"b12c2b4a.591cb8","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bp","value":"bp","type":"number","required":true,"rows":null},{"label":"sg","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"su","value":"su","type":"number","required":true,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":true,"rows":null},{"label":"pc","value":"pc","type":"text","required":true,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":true,"rows":null},{"label":"ba","value":"ba","type":"text","required":true,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":true,"rows":null},{"label":"bu","value":"bu","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"sod","value":"sod","type":"number","required":true,"rows":null},{"label":"pot","value":"pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"text","required":true,"rows":null},{"label":"wc","value":"wc","type":"text","required":true,"rows":null},{"label":"rc","value":"rc","type":"text","required":true,"rows":null},{"label":"htn","value":"htn","type":"text","required":true,"rows":null},{"label":"dm","value":"dm","type":"text","required":true,"rows":null},{"label":"cad","value":"cad","type":"text","required":true,"rows":null},{"label":"appet","value":"appet","type":"text","required":true,"rows":null},{"label":"pe","value":"pe","type":"text","required":true,"rows":null},{"label":"ane","value":"ane","type":"text","required":true,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["b4b78095.106a1"]]},{"id":"5ab023a1.21cf2c","type":"ui_text","z":"856d360f.8ae9c8","group":"b12c2b4a.591cb8","order":1,"width":0,"height":0,"name":"","label":"Ckd/notckd","format":"{{msg.payload}}","layout":"row-spread","x":817.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"fe13623.1056ca","type":"function","z":"856d360f.8ae9c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":171.60000133514404,"wires":[["5ab023a1.21cf2c"]]},{"id":"b12c2b4a.591cb8","type":"ui_group","z":"","name":"Default","tab":"4ff9446e.231e1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ff9446e.231e1c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]